@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
  font-size: 16px;
  background-image: url(../img/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

@media (max-width: 1900px) {
  body {
      height: 100vh;
  }
}

/* CODE CSS PARA BODY NO TOCAR */

/* ESTE CODIGO ES PARTE DEL MENU NADA MAS */

.headerMenu{
  display: flex;
  height: 50px;
  background-color: cadetblue;
  align-items: center;
  padding: 10px;
}

a{
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}

.headerMenu img{
  margin: 10px;
  height: 50px;
  display: flex;
}

.headerMenu div{
  margin-left: auto;
  visibility: hidden;
}

.headerMenu h1{
  display: flex;
  margin: 10px 40px ;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 40px;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.headerMenu nav a{
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
  padding: 15px;
  text-decoration: none;
  color: white;
}

.headerMenu nav a:hover{
  color: rgb(0, 0, 0);
}

/* ESTE CODIGO ES PARTE DEL MENU NADA MAS */

/* Codigo de tabla */

.table {
    width: 80%;
    margin-bottom: 2px;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  th, td {
    background-color: rgb(214, 244, 253);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  tbody, td {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    color: #111;
    padding: 10px;
    border-radius: 10px;
  }

  th:nth-child(1){
    background-color: rgb(175, 217, 218);
    border: 1px solid black;
  }

  th:nth-child(2){
    background-color: rgb(119, 187, 187);
    border: 1px solid black;
  }
  th:nth-child(3){
    background-color: rgb(141, 185, 179);
    border: 1px solid black;
  }
  
  /* Codigo de tabla */

.input{
  text-align: left;
  padding-left: 10px;
  width: 20%;
  margin-left: 10%;
  border-radius: 15px;
  height: 40PX;
  margin-bottom: 10px;
}

.boton{
  text-align: center;
  background-color: #0B5ED7;
  border: #0B5ED7;
  padding: 10px;
  font-size: 15px;
  color: white;
  border-radius: 12px;
  height: 40px;
}
.boton:hover{
  text-align: center;
  background-color: #0b3a81;
  padding: 10px;
  font-size: 15px;
  color: white;
  border-radius: 12px;
  height: 40px;
}

  /* Codigo footer que funciona de pana */

footer {
    bottom: 0;
    position: fixed;
    margin: auto;
    background-color:rgb(214, 244, 253);
    padding: 30px;
    text-align: center;
    width: 100%;
}

.footer-content {
    color: black;
    font-size: 14px;
}

 /* Codigo footer que funciona de pana */