<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/listastyle.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de transfers</title>
</head>
<body>
    {% load static %}
    <header class="headerMenu">
        <br>
        <h1>AeroTransfer</h1>
        <div>
            Texto ejemplo
        </div>
        <nav>
            <a href="{% url 'home' %}" >Home</a>
            <a href="{% url 'loginConductor' %}" >Login</a>
        </nav>
    </header>
    <br>
    <input class="input" type="text" id="num_asientos" placeholder="Filtrar por cantidad de asientos">
    <button type="//" class="boton">Buscar</button>
    <main>
        <table class="table">
            {% if existe is 1 %}
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Ubicacion</th>
                    <th>Asientos</th>
                    <th>Reserva</th>
                </tr>
            </thead>
            <tbody>
                {% for persona in personas %}
                <tr>
                    <form method="post" action="/reservaTransfer/">
                        {% csrf_token %}
                    <td>{{persona.username.username}}</td>
                    <input style="display: none;" type="text" name="username" maxlength="150" id="username" class="form-control" value="{{persona.username.username}}">
                    <td>{{persona.patente}}</td>
                    <td>{{persona.asientos}}</td>
                    <input style="display: none;" type="text" name="destino" maxlength="150" id="destino" class="form-control" value="{{destino}}">
                    <input style="display: none;" type="text" name="asientos" maxlength="150" id="asientos" class="form-control" value="{{asientos}}">
                    <td><button type="submit" class="boton">Registrarse</button></td>
                </tr>
                {% endfor %}
            </tbody>
            {% else %}
                {{error}}
                pero wn
            {% endif %}
        </table>
    </main>
    <br>
</body>
<footer>
    <div class="footer-content">
        <p>© 2023 Mi Sitio Web. Todos los derechos reservados.</p>
    </div>
</footer>