<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/listastyle.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load static %}
    <nav class="titulo"> Aerotransfer</nav>
    <input class="input" type="text" id="num_asientos" placeholder="Filtrar por cantidad de asientos">
    <main>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Ubicacion</th>
                    <th>Asientos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Texto de ejemplo</td>
                    <td>Texto de ejemplo</td>
                    <td>Texto de ejemplo</td>
                </tr>
                <tr>
                    <td>Texto de ejemplo</td>
                    <td>Texto de ejemplo</td>
                    <td>Texto de ejemplo</td>
                </tr>
                <tr>
                    <td>Texto de ejemplo</td>
                    <td>Texto de ejemplo</td>
                    <td>Texto de ejemplo</td>
                </tr>
                <tr>
                    <td>Texto de ejemplo</td>
                    <td>Texto de ejemplo</td>
                    <td>Texto de ejemplo</td>
                </tr>
                <tr>
                    <td>Texto de ejemplo</td>
                    <td>Texto de ejemplo</td>
                    <td>Texto de ejemplo</td>
                </tr>
                <tr>
                    <td>Texto de ejemplo</td>
                    <td>Texto de ejemplo</td>
                    <td>Texto de ejemplo</td>
                </tr>
                <tr>
                    <td>Texto de ejemplo</td>
                    <td>Texto de ejemplo</td>
                    <td>Texto de ejemplo</td>
                </tr>
                <tr>
                    <td>Texto de ejemplo</td>
                    <td>Texto de ejemplo</td>
                    <td>Texto de ejemplo</td>
                </tr>
                <tr>
                    <td>Texto de ejemplo</td>
                    <td>Texto de ejemplo</td>
                    <td>Texto de ejemplo</td>
                </tr>
                <tr>
                    <td>Texto de ejemplo</td>
                    <td>Texto de ejemplo</td>
                    <td>Texto de ejemplo</td>
                </tr>
                <tr>
                    <td>Texto de ejemplo</td>
                    <td>Texto de ejemplo</td>
                    <td>Texto de ejemplo</td>
                </tr>
                <tr>
                    <td>Texto de ejemplo</td>
                    <td>Texto de ejemplo</td>
                    <td>Texto de ejemplo</td>
                </tr>
            </tbody>
        </table>
    </main>
    <br>
    <br>
    <footer>
        <div class="footer-content">
            <p>© 2023 Mi Sitio Web. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>