<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/listastyle.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de transfers</title>
</head>
<body>
    {% load static %}
    <header class="headerMenu">
        <br>
        <h1><a href="{% url 'home' %}" style="margin-left: 0px;">AeroTransfer</a></h1>
        <nav>
            {% if user.is_authenticated %}
                <a href="{% url 'perfilConductor' %}" style="text-align: right;">{{user.username}}</a>
            {% else %}
                <a href="{% url 'login' %}" >Login</a>
                <a href="{% url 'registro' %}" >Registro</a>
            {% endif %}
        </nav>
    </header>
    <br>
    {% if existe is 1 %}
    <main>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Destino</th>
                    <th>Telefono</th>
                    <th>Asientos</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for reservas in reserva %}
                <tr>
                    <form method="post" action="/reservaTransfer/">
                        {% csrf_token %}
                    <td>{{reservas.nombre}}</td>
                    <td>{{reservas.apellido}}</td>
                    <td>{{reservas.destino}}</td>
                    <td>{{reservas.telefono}}</td>
                    <td>{{reservas.asientos}}</td>
                    {% if reservas.estado is True%}
                    <td>Activo</td>
                    {% endif %}

                    <input style="display: none;" type="text" name="destino" maxlength="150" id="destino" class="form-control" value="{{destino}}">
                    <input style="display: none;" type="text" name="asientos" maxlength="150" id="asientos" class="form-control" value="{{asientos}}">
                    <td><button type="submit" class="boton">Cancelar Reserva</button></td>
                </tr>
                {% endfor %}
            </tbody>
            {% else %}
            <div class="card" style="margin-top: 10%;">
                <h1 style="text-align: center;">No tienes ninguna reserva activa actualmente</h1>
                <h3 style="text-align: center;">¡Cuando tengas una reserva te avisaremos!</h3>
            </div>
            {% endif %}
        </table>
    </main>
    <br>
</body>
<footer>
    <div class="footer-content">
        <p>© 2023 Mi Sitio Web. Todos los derechos reservados.</p>
    </div>
</footer>